.gym {
  background: url('https://tse1.mm.bing.net/th/id/OIP.dtBsy5FJdDBm4rtZQSnVeQHaE8?rs=1&pid=ImgDetMain&o=7&rm=3');
  background-size: cover;
  background-position: center;

  .title1 {
    text-align: center;
  }

  .title2 {
    text-align: center;
  }
}
