@use '/src/shared/styles/abstracts/variables' as var;
@use '/src/shared/styles/abstracts/mixins' as mix;

$margin: 0.2rem;

.exercise-card {
  align-items: flex-end;
  background: {
    repeat: no-repeat;
    position: center;
    size: cover; // ahora cubre mejor que 2000%
  }
  border-radius: var.$border-radius;
  display: flex;
  margin: $margin;
  position: relative;
  transition: transform 0.3s ease;

  &__data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 0 0 1rem 1rem;
    background-image: linear-gradient(#00000000, #00000066, #000000cc, #000000);

    &__title {
      color: white;
      text: {
        align: center;
        transform: uppercase;
      }
    }
  }

  &__button {
    border: 2px solid var(--variant-textColor) {
      radius: 50px;
    }
    margin: 2rem 0;
    padding: 1rem 3rem;
  }

  // hover
  &:hover {
    transform: scale(1.05);
  }

  // alturas responsivas
  @include mix.respond-to(xs) {
    height: 60vh;
  }
  @include mix.respond-to(md) {
    height: 50vh;
  }
  @include mix.respond-to(lg) {
    height: 60vh;
  }
  @include mix.respond-to(xl) {
    height: 70vh;
  }
}
